*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
}
.one{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 500px;
    align-items: center;
    flex: 1;
}
.two{
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
}
.three{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    gap: 10px;
    background-color: #E5E7EB;
}
.four{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 400px;
    justify-self: flex-end;
}
footer{
    height: 100px;
    background-color: #1F2937;
    text-align: center;
    color: #E5E7EB;
    padding-top: 30px;
}
.quote{
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    width: 700px;
    
}
.owner{
    text-align: end;
    font-weight: bold;
}
.container{
    display: flex;
}

.first{
    
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    
}

.second{
    justify-content: space-between;
    margin: 15px;
}

.first, .second{
    width: 1000px;
    display: flex;
    
}

.third{
    flex-direction: column;
    gap: 10px;
    
}
.fourth{
    justify-content: space-evenly;
    width: 900px;
    gap:50px
    
}
.fifth{
    flex-direction: column;
}
.fourth > div{
    display: flex;
    flex-direction: column;
} 
.rounded-edges{
    border: 1px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    
}
.description{
    text-align:center;
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
.fourth > div > p{
    display: block;
    width: 150px;
    height: 150px;
    color: black;
    text-align: center;
    margin-top: 10px;
}

.rndm-info{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 20px 0px;
}
.four > *{
    background-color: #3882F6;
    height: 200px; 
    
    padding: 70px 60px;
    

}
.four > .text{
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
.four > .button{
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.button > button{
    border: 1px solid white;
    font-weight: bold;
    width: 200px;
    height: 30px
    
}
h2{
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
    width: 350px;
}

p{
    font-size: 18px;
    color: #E5E7EB;
    width: 500px;
    overflow-wrap: break-word;
    
}

button{
    width: 200px;
    height: 30px;
    border-radius: 7px;
    background-color: #3882F6;
    border: none;
    color: #E5E7EB;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

a[href="#"]{
    padding: 10px;
}

.first > img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-repeat: no-repeat;

}

.second > img{
    width: 450px;
    height: 250px;
    

}