*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#one{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    height: 500px;
    align-items: center;
    flex: 1;
}
#two{
    display: flex;
    flex-direction: column;
    height: 400px;
    align-items: center;
}
#three{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;
    background-color: #E5E7EB;
}
.quote{
    font-weight: lighter;
    font-style: italic;
    font-size: 36px;
    color: #1F2937;
    width: 700px;
}
.container{
    display: flex;
}

.one{
    
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 30px;
    
}

.two{
    justify-content: space-between;
    padding: 10px;
}

.one, .two{
    width: 1000px;
    display: flex;
    
}

.three{
    flex-direction: column;
    
}
.four{
    justify-content: space-evenly;
    width: 900px;
    
}
.five{
    flex-direction: column;
}
.four > div{
    display: flex;
    flex-direction: column;
} 
.rounded-edges{
    border: 1px solid #3882F6;
    width: 150px;
    height: 150px;
    border-radius: 10px;
    
}
.description{
    text-align:center;
    margin-top: 10px;
    width: 150px;
    height: 150px;
    border: 1px solid black;
}
.four > div > p{
    display: block;
    width: 150px;
    height: 150px;
    color: black;
    text-align: center;
    margin-top: 10px;
}

#rndm-info{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 20px 0px;
}
h2{
    font-size: 48px;
    font-weight:bolder;
    color: #F9FAF8;
    width: 350px;
}

p{
    font-size: 18px;
    color: #E5E7EB;
    width: 500px;
    overflow-wrap: break-word;
    
}

button{
    width: 100px;
    height: 30px;
    border-radius: 7px;
    background-color: #3882F6;
    border: none;
    color: #E5E7EB;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: #E5E7EB;
}

a[href="#"]{
    padding: 10px;
}

.one > img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.two > img{
    width: 450px;
    height: 250px;
    

}